In [1]:
import requests
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
# Get data
r   = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?q=sunflowers')
res = r.json()

In [13]:
sunflower_ids = res['objectIDs']

In [8]:
sunflower_ids = pd.Series(sunflower_ids)

In [78]:
r_test   = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/262430')
obj_test = r_test.json()

In [79]:
obj_test

{'objectID': 262430,
 'isHighlight': False,
 'accessionNumber': '1978.668.60',
 'accessionYear': '1978',
 'isPublicDomain': False,
 'primaryImage': '',
 'primaryImageSmall': '',
 'additionalImages': [],
 'constituents': [{'constituentID': 54847,
   'role': 'Artist',
   'name': 'Stephen Shore',
   'constituentULAN_URL': 'http://vocab.getty.edu/page/ulan/500040819',
   'constituentWikidata_URL': 'https://www.wikidata.org/wiki/Q586141',
   'gender': ''}],
 'department': 'Photographs',
 'objectName': 'Photograph',
 'title': 'Giverny',
 'culture': '',
 'period': '',
 'dynasty': '',
 'reign': '',
 'portfolio': '',
 'artistRole': 'Artist',
 'artistPrefix': '',
 'artistDisplayName': 'Stephen Shore',
 'artistDisplayBio': 'American, born 1947',
 'artistSuffix': '',
 'artistAlphaSort': 'Shore, Stephen',
 'artistNationality': 'American',
 'artistBeginDate': '1947',
 'artistEndDate': '9999',
 'artistGender': '',
 'artistWikidata_URL': 'https://www.wikidata.org/wiki/Q586141',
 'artistULAN_URL': 'http://vocab.getty.edu/page/ulan/500040819',
 'objectDate': '1977',
 'objectBeginDate': 1977,
 'objectEndDate': 1977,
 'medium': 'Chromogenic print',
 'dimensions': '',
 'measurements': None,
 'creditLine': 'Purchase, Robert Wood Johnson Jr. Charitable Trust and Lila Acheson Wallace Gifts, 1978',
 'geographyType': '',
 'city': '',
 'state': '',
 'county': '',
 'country': '',
 'region': '',
 'subregion': '',
 'locale': '',
 'locus': '',
 'excavation': '',
 'river': '',
 'classification': 'Photographs',
 'rightsAndReproduction': 'Â© Stephen Shore',
 'linkResource': '',
 'metadataDate': '2020-08-15T04:33:13.683Z',
 'repository': 'Metropolitan Museum of Art, New York, NY',
 'objectURL': 'https://www.metmuseum.org/art/collection/search/262430',
 'tags': None,
 'objectWikidata_URL': '',
 'isTimelineWork': False,
 'GalleryNumber': ''}

In [21]:
obj_test['GalleryNumber']

''

In [83]:
column_names = ['objectID', 
                'title',
                'artistDisplayName',
                'department',
                'objectBeginDate',
                'objectEndDate',
                'period',
                'objectName',
                'culture'
               ]

sunflowers_data = pd.DataFrame(columns=column_names)

In [84]:
sunflowers_data

Empty DataFrame
Columns: [objectID, title, artistDisplayName, department, objectBeginDate, objectEndDate, period, objectName, culture]
Index: []

In [85]:
for id in sunflower_ids:
    req  = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/{id}')
    obj  = req.json()
    line = []
    try:  
        for data in column_names:
            data = str(data)
            line.append(obj[data])  
    except:
        continue
    
    sunflowers_data.loc[len(sunflowers_data)] = line

In [88]:
sunflowers_data.query("culture == 'Japan'").agg({'title': 'count'})

title    1
dtype: int64

In [81]:
sunflowers_data

,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,period,objectName,culture
0,436524,Sunflowers,Vincent van Gogh,European Paintings,1887,1887,,Painting,
1,484935,Sunflowers,Edward McKnight Kauffer,Modern and Contemporary Art,1921,1921,,Painting,
2,437112,Bouquet of Sunflowers,Claude Monet,European Paintings,1881,1881,,Painting,
3,210191,Vase with sunflowers,Rozenburg Plateelfabriek,European Sculpture and Decorative Arts,1896,1896,,Vase,
4,431264,Sunflowers,Lily Converse,Drawings and Prints,1941,1941,,Print,
...,...,...,...,...,...,...,...,...,...
69,339347,"April, May, June",Louis John Rhead,Drawings and Prints,1896,1896,,Poster,
70,208218,Dish,,European Sculpture and Decorative Arts,1685,1699,,Dish,
71,202228,Carpet with Fame and Fortitude,Savonnerie Manufactory,European Sculpture and Decorative Arts,1668,1685,,Carpet,
72,437984,La Berceuse (Woman Rocking a Cradle; Augustine...,Vincent van Gogh,European Paintings,1889,1889,,Painting,
73,761604,,Unrecorded Edgefield District potter,The American Wing,1845,1855,,Face jug,American

In [50]:
# Run a search query for the department "Asian art" (departmentId = 6) 
# with the tag "cat" and record the object ids in cat_ids.

In [104]:
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId=6&q=cat')
cats = r.json()

In [105]:
column_names = ['objectID', 
                'title',
                'artistDisplayName',
                'department',
                'objectBeginDate',
                'objectEndDate',
                'period',
                'objectName',
                'culture'
               ]

cats_df = pd.DataFrame(columns=column_names)

In [106]:
cats_df

Empty DataFrame
Columns: [objectID, title, artistDisplayName, department, objectBeginDate, objectEndDate, period, objectName, culture]
Index: []

In [107]:
cats_ids = pd.Series(cats['objectIDs'])

In [108]:
cats_ids

0        49698
1        49470
2        53222
3        36221
4        60873
         ...
3115     39959
3116    825667
3117    825669
3118    825718
3119    825720
Length: 3120, dtype: int64

In [109]:
for id in cats_ids:
    req = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/{id}')
    obj = req.json()
    line = []
    try:  
        for data in column_names:
            data = str(data)
            line.append(obj[data])  
    except:
        continue
    
    cats_df.loc[len(cats_df)] = line

In [113]:
cats_df.groupby('period', as_index=False).agg({'objectID': 'count'}).sort_values('objectID')

                            period  objectID
105      Mughal period (1526â1858)         1
126  Northern Wei period (386â534)         1
128                   Pagan period         1
131                 Pallava period         1
132       Qing (1644â1911) dynasty         1
..                             ...       ...
110   Muromachi period (1392â1573)        97
133       Qing dynasty (1644â1911)       134
81        Ming dynasty (1368â1644)       178
0                                        461
29          Edo period (1615â1868)      1212

[211 rows x 2 columns]