In [252]:
import pandas as pd
import pdfplumber

In [253]:
def cb_gdp_report_parser(file_path):
    with pdfplumber.open(file_path) as pdf:
        first_page = pdf.pages[0]
        pdf_text   = first_page.extract_text()

    gdp_row_data = pdf_text.split('Валовой внутренний продукт')[1].split('\n')[0].replace(",", ".").split(' ')

    gdp_values = []
    for i in gdp_row_data:
        if 3 <= len(i) <= 5:
            gdp_values.append(float(i))
        elif len(i) == 7:
            min = float(i.split('-')[0])
            max = float(i.split('-')[1])
            gdp_values.append((min+max)/2)
        elif len(i) == 0:
            continue
        else:
            if i.startswith('('):
                min   = float(i.split('(')[1].split(')')[0])
                i_end = i.split(')-')[1]
            else:
                min   = float(i.split('-')[0])
                i_end = i[4:]          
            if i_end.startswith('('):
                max = float(i_end.split('(')[1].split(')')[0])
            else:
                max = float(i_end)
            gdp_values.append((min+max)/2)

    columns=[]
    for i in range(len(gdp_values)):
        columns.append(int('20'+file_path[-10:][:2])-1+i)

    gdp = pd.DataFrame(gdp_values). T
    gdp.columns = columns
    
    return gdp

In [254]:
file_path_211022='/Users/mikhail/Documents/_DS/dssib_git_extra/macro_base/sources/forecast_211022.pdf'
cb_gdp_report_parser(file_path_211022)

   2020  2021  2022  2023  2024
0  -3.0  4.25   2.5   2.5   2.5

In [237]:
file_path_220211='/Users/mikhail/Documents/_DS/dssib_git_extra/macro_base/sources/forecast_220211.pdf'
cb_gdp_report_parser(file_path_220211)

   2021  2022  2023  2024
0   4.7   2.5   2.0   2.5

In [238]:
file_path_220722='/Users/mikhail/Documents/_DS/dssib_git_extra/macro_base/sources/forecast_220722.pdf'
cb_gdp_report_parser(file_path_220722)

   2021  2022  2023  2024
0   4.7  -5.0  -2.5   2.0

### Finish

### Extra

In [259]:
import pandas as pd
import tabula

In [260]:
file_path='/Users/mikhail/Documents/_DS/dssib_git_extra/macro_base/sources/forecast_211022.pdf'

In [261]:
df = tabula.read_pdf(file_path, pages='all')

In [262]:
df[0]

,Unnamed: 0,2020,Unnamed: 1,Unnamed: 2,БАЗОВЫЙ,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,(факт),2021,2022,NaN,2023,2024
2,"Инфляция, в %, декабрь к декабрю предыдущего года","4,9","7,4-7,9","4,0-4,5",NaN,"4,0","4,0"
3,"Инфляция, в среднем за год, в % к предыдущему ...","3,4","6,5-6,6","5,2-6,0",NaN,"4,0","4,0"
4,"Ключевая ставка, в среднем за год, в % годовых","5,1","5,7-5,81","7,3-8,3",NaN,"5,5-6,5","5,0-6,0"
5,Валовой внутренний продукт,"-3,0","4,0-4,5","2,0-3,0",NaN,"2,0-3,0","2,0-3,0"
6,Расходы на конечное потребление,"-5,2","6,9-7,9","1,0-2,0",NaN,"1,6-2,6","1,7-2,7"
7,– домашних хозяйств,"-8,6","9,0-10,0","1,0-2,0",NaN,"2,0-3,0","2,0-3,0"
8,Валовое накопление,"-2,0","5,4-7,4","0,5-2,5",NaN,"2,9-4,9","2,5-4,5"
9,– основного капитала,"-4,3","5,4-7,4","0,4-2,4",NaN,"2,6-4,6","2,0-4,0"
10,Экспорт,"-4,3","2,6-4,6","5,0-7,0",NaN,"1,2-3,2","1,2-3,2"
11,Импорт,"-12,0","15,0-17,0","1,1-3,1",NaN,"2,7-4,7","1,2-3,2"
12,Денежная масса в национальном определении,"13,5",8-12,9-13,NaN,7-11,6-10
13,Требования банковской системы к экономике в ру...,"10,9",11-15,9-13,NaN,7-11,7-11
14,– к организациям,"10,2",8-12,7-11,NaN,6-10,7-11
15,"– к населению, в том числе","12,9",21-25,14-18,NaN,10-14,7-11
16,ипотечные жилищные кредиты,"21,6",23-27,15-19,NaN,14-18,12-16

In [8]:
file_path_220211='/Users/mikhail/Documents/_DS/dssib_git_extra/macro_base/sources/forecast_220211.pdf'

In [12]:
df = tabula.read_pdf(file_path_220211, pages='all')

In [13]:
df[0]

    2021\r(факт / оценка)                Unnamed: 0                Unnamed: 1
0                     NaN                      2022                      2023
1                     8,4                   5,0-6,0                       4,0
2                     6,7                   6,8-7,7                   4,0-4,3
3                     5,7                 9,0-11,01                   7,5-9,0
4                     4,7                   2,0-3,0                   1,5-2,5
5               7,6\r10,1          1,7-2,7\r2,3-3,3          0,6-1,6\r0,5-1,5
6                5,6\r7,9          0,6-2,6\r0,5-2,0          2,2-4,2\r0,5-2,5
7               2,1\r13,6          4,0-6,0\r2,2-4,2          1,6-3,6\r0,4-2,4
8                    13,0                      9-13                      8-12
9  14,0\r10,9\r22,0\r26,7  9-13\r7-11\r14-18\r15-19  8-12\r7-11\r10-14\r14-18

In [14]:
file_path_220722='/Users/mikhail/Documents/_DS/dssib_git_extra/macro_base/sources/forecast_220722.pdf'

In [15]:
df = tabula.read_pdf(file_path_220722, pages='all')

In [17]:
df[0]

,2021\r(факт),2022,2023
0,"8,4","12,0-15,0","5,0-7,0"
1,"6,7","13,8-14,7","4,3-7,5"
2,"5,7","10,5-10,81","6,5-8,5"
3,"4,7\r5,0","(-6,0)-(-4,0)\r(-12,0)-(-8,5)","(-4,0)-(-1,0)\r1,0-2,5"
4,"7,2\r9,5","(-5,0)-(-3,0)\r(-6,5)-(-4,5)","(-2,5)-(+0,5)\r(-3,0)-0,0"
5,"8,9\r6,8","(-22,0)-(-18,0)\r(-7,5)-(-3,5)","9,5-13,5\r(-4,5)-(-0,5)"
6,"3,5\r16,9","(-17,0)-(-13,0)\r(-31,5)-(-27,5)","(-12,5)-(-8,5)\r(-1,5)-(+2,5)"
7,"13,0",12-17,11-16
8,"13,9\r10,7\r22,0\r26,7",5-10\r5-10\r5-10\r13-18,8-13\r7-12\r9-14\r10-15